<div class="card">
  <div class="card-heading">
    <span class="title">
      {{ 'component.counter.title' | translate }}
    </span>
    <button type="button" class="close" aria-label="Close" (click)="onRemove()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="counter">{{ counter.counter }}</div>
    <div class="timestamp">{{ counter.timestamp | date:'medium' }}</div>
  </div>
  <div class="card-buttons">
    <div class="btn-group" role="group" aria-label="operations">
      <button type="button" class="btn btn-sm btn-default" (click)="onIncrement()">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-sm btn-default" (click)="onReset()">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-sm btn-default" (click)="onDecrement()">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
