@import "../../../common.less";

:host {
  .card {
    min-width: 200px;
    border: 1px solid @colorCardBorder;
    border-radius: 4px;
    background-color: @backgroundCardBody;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 0 auto;
      padding: 5px;
    }
    .card-heading {
      border-bottom: 1px solid @colorCardBorder;
      background-color: @backgroundCardHeader;
      font-size: larger;
      font-weight: bold;
      line-height: 25px;
      padding: 5px 10px;
    }
    .card-body {
      align-self: center;
      display: flex;
      flex-direction: column;
      > * {
        align-self: center;
      }
      .counter {
        font-size: 200%;
      }
      .timestamp {
        font-size: smaller;
      }
    }
    .card-buttons {
      align-self: center;
      padding-bottom: 10px;
      button:focus {
        outline: none;
      }
    }
  }
}
