@import "../common.less";

:host {
  .layout();
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    padding: 0px 25px;
    .buttons {
      margin-top: 11px;
      button:focus {
        outline: none;
      }
    }
  }
  footer {
    padding: 5px 10px;
    color: @colorFooter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
