<header>
  <div class="buttons">
    <button type="button" class="btn btn-sm btn-default" (click)="addCounter()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-sm btn-default" (click)="removeAllCounters()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
</header>
<section>
  <counter-container></counter-container>
</section>
<footer>
  <total-counters></total-counters>
  <div class="clock">{{ currentDate | date:'medium' }}</div>
</footer>
