<div class="card-container">
  <div *ngFor="let counter of counters | async; let i = index">
    <counter
      [counter]="counter"
      (decrement)="decrement(i)"
      (increment)="increment(i)"
      (remove)="remove(i)"
      (reset)="reset(i)"></counter>
  </div>
</div>
