@import '../node_modules/bootstrap/less/bootstrap';

.maximizeAbsolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}
.maximizeRelative {
	height: 100%;
 	width: 100%;
 	margin: 0;
 	padding: 0;
}

@backgroundBody: white;
@backgroundFooter: lightgrey;
@backgroundCardBody: lightgrey;
@backgroundCardHeader: grey;
@colorCardBorder: darkgrey;
@colorFooter: grey;
@heightFooter: 30px;
@heightHeader: 52px;

.layout {
	.maximizeAbsolute();
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	> header {
		flex: 0 0 @heightHeader;
	}
	> section {
		flex: 1;
		overflow-y: auto;
	}
	> footer {
		flex: 0 0 @heightFooter;
	}
}
