@import "common.less";

html {
	.maximizeAbsolute();
	body {
		.layout();
    > header {
      border-radius: 0px !important;
      margin-bottom: 0px !important;
			overflow: hidden;
    }
    > section {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: hidden;
      background-color: @backgroundBody;
			overflow: hidden;
    }
    > footer {
      padding: 5px 10px;
      background-color: @backgroundFooter;
      color: @colorFooter;
      display: flex;
      flex-direction: row;
      justify-content: center;
			overflow: hidden;
      .copyright {
          font-style: italic;
      }
    }
  }
}
